<div id="Title">
<h1>A Dark Room</h1>
</div>
<div id="Buttons">
<button>Stroke Fire</button>
</div>
<div id="logs">
<p>qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</p>
</div>